.header {
    height: 50px;
    background: deepskyblue;
    margin-bottom: 10px;
}
.block
{}

.imageicon img {
    width: 80px;
    margin-top: -20px;
}

.image img {
    height: 100px;
    
}
footer {
    height: 50px;
    background-color: chartreuse;
    margin-top: 10px;
}

